<h1>Submitted Applications</h1>

<ul>
  <% @benefits_apps.each do |app| %>
    <li>
      <%= link_to app.id, app %>
      <% if app.date_of_submission %>
        <%= app.date_of_submission.strftime("%m/%d/%Y")%>
      <%end%>
      <% app.members.each do |member| %>
        <% if member.primary_member %>
          <%= member.first_name %>
          <%= member.last_name %>
        <% end %>
      <% end %>
      <%= link_to "Edit", edit_benefits_app_path(app) %>
    </li>
  <% end %>
</ul>

<%= link_to "New Application", new_benefits_app_path %>

<%#= form_with model: @benefits_apps do |form| %>
<%#= form.label :address %>
<%#= form.text_field :address %>
<!--  <div>-->
<%#= form.submit "New Application"%>
<!--  </div>-->
<%# end %>
