<h1>Tell us about yourself</h1>

<%= form_with(model: @member, url: [ @benefits_app, @member ]) do |form| %>
  <div>
    <% if @member.errors.any? %>
      <ul>
        <% @member.errors.messages_for(:first_name).each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <p>
      <%= form.label :first_name %><br>
      <%= form.text_field :first_name %>
    </p>
    <% if @member.errors.any? %>
      <ul>
        <% @member.errors.messages_for(:last_name).each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <p>
      <%= form.label :last_name %><br>
      <%= form.text_field :last_name %>
    </p>
    <% if @member.errors.any? %>
      <ul>
        <% @member.errors.messages_for(:birthdate).each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <p>
      <%= form.label :birthdate %><br>
      <%= form.text_field :birthdate %>
    </p>

    <p>
      <%= form.label "What's your social security number?" %><br>
      <%= form.text_field :ssn %>
    </p>

    <ul>

      <% @benefits_app.members.each do |mbr| %>
        <% next if mbr.new_record? %>
        <%= mbr.first_name %> <%= mbr.last_name %>
        <%= link_to "Edit", edit_benefits_app_member_path(mbr.benefits_app, mbr) %> <br>
      <% end %>
    </ul>

    <%= form.submit "Update Member"%>
  </div>
<% end %>
<br>
<%= form_with(model: @benefits_app, url: update_date_path(@benefits_app) ) do |f| %>
  <%= f.hidden_field :date_of_submission%>
  <%= f.submit 'Submit' %>
<% end %>