<h1>Tell us about yourself</h1>

<%= form_with model: [ @benefits_app, @benefits_app.members.build ] do |form| %>
  <div>
    <% if @member.errors.any? %>
      <ul>
        <% @member.errors.messages_for(:first_name).each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <p>
      <%= form.label :first_name %><br>
      <%= form.text_field :first_name %>
    </p>
    <% if @member.errors.any? %>
      <ul>
        <% @member.errors.messages_for(:last_name).each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <p>
      <%= form.label :last_name %><br>
      <%= form.text_field :last_name %>
    </p>
    <% if @member.errors.any? %>
      <ul>
        <% @member.errors.messages_for(:birthdate).each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <p>
      <%= form.label :birthdate %><br>
      <%= form.text_field :birthdate %>
    </p>

    <%#=@benefits_app.members.count%>

  <%# if@benefits_app.members.count ==0 %>
      <%#= form.hidden_field :primary_member, :value =>true %>
      <%#= form.hidden_field :secondary_member, :value =>false %>
    <%# else %>
      <%#= form.hidden_field :primary_member, :value =>false %>
      <%#= form.hidden_field :secondary_member, :value =>true %>
    <%# end %>
    <%= form.submit "Submit"%>

  </div>
<% end %>

